<header class="about">
  <div class="about-bg">
    <video autoplay muted loop id="myVideo">
      <source
        src="/assets/images/mixkit-animation-of-futuristic-devices-99786.mp4"
        type="video/mp4"
      />
    </video>
    <div class="title">
      <span class="first-text">Guy Yogev</span>
      <span class="second-text">
        <span class="word word-1">Gets</span>
        <span class="word word-2">things</span>
        <span class="word word-3">done</span><span class="word word-4">.</span>
      </span>
    </div>
  </div>
</header>
<section class="about-me anchor-offset" id="about">
  <div class="about-me-content">
    <img class="profile-img" src="/assets/images/profile.png" />
    <div>
      <div>Hey there, I'm Guy.</div>
      <div>I build high-quality software.</div>
    </div>
  </div>
</section>
