<script type="application/ld+json">
  { "@context": "http://schema.org", 
   "@type": "Blog",
   "keywords": "web development javascript es6 ruby rails nodejs elixir phoenix framework performance unit test react redux angular angularjs", 
   "url": "https://guyogev.com",
   "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://guyogev.com"
    },
   "author": {
      "@type": "Person",
      "name": "Guy Yogev",
      "sameAs": [
        "https://guyogev.github.io",
        "https://github.com/guyogev",
        "https://stackoverflow.com/users/6767060/guy-yogev?tab=profile",
        "https://www.linkedin.com/in/guy-yogev-22220096/",
        "https://app.pluralsight.com/profile/guy-yogev"
        ]
    }
   }
  </script>