// Mixins
@mixin coverImage($url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin gradToRight($r, $g, $b, $o) {
  background: linear-gradient(to right, rgba($r, $g, $b, 1), rgba($r, $g, $b, $o));
}

// Extends
%unstyled-a {
  text-decoration: none;
  color: inherit;
  outline: 0;

  &:hover, &:visited, &:focus, &:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
}

// Keyframes
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/******************************************************************************/

body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  line-height: 1.15;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

img {
  border-style: none;
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: auto;
  padding-bottom: 1rem;
}

nav {
  align-items: center;
  background: rgba(255, 255, 255, .87);
  display: flex;
  font-weight: 600;
  height: 2.6rem;
  justify-content: space-around;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 999;

  @media only screen and (max-width: 425px) {
    padding: 0;
  }

  .menu {
    cursor: pointer;
    padding: 0 1rem;
    transition: all 150ms;

    @media only screen and (max-width: 425px) {
      padding: 0.2rem;
      font-size: .8rem;
    }

    &:hover, &:focus {
      border-top: 1px solid black;
      letter-spacing: 0.1rem;
      padding: 0.2rem 1rem 0 1rem;
    }
  }

}

.sub-title {
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  padding: .5rem;
  text-align: center;
  text-transform: uppercase;
}

.about {
  height: 75vh;
  position: relative;

  .about-bg {
    @include coverImage("/assets/images/code-bg.jpg");
    height: 100%;
    width: 100%;

  }
  .title {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: space-around;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.26rem;
    padding: 0 1rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
  }

  .first-text {
    position: absolute;
    animation: fadeOut .100s forwards;
    animation-delay: 2s;
  }

  .second-text {
    position: absolute;
  }

  .word {
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn .16s forwards;
    animation-delay: 2s;
  }

  .word-1 {
    animation-delay: 2.250s;
  }
  .word-2 {
    animation-delay: 2.500s;
  }
  .word-3 {
    animation-delay: 2.750s;
  }
  .word-4 {
    animation-delay: 3.5s;
  }
}

.skills {
  margin: auto;
  max-width: 64rem;
  padding: 1rem;

  .groups {
    display: flex;
    flex-wrap: wrap;
  }

  .group {
    box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.38);
    flex: 1;
    margin: 1rem;
    padding: 1rem;
  }

  .skill {
    align-items: center;
    display: flex;
  }

  .skill-name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding: .5rem;
    text-transform: uppercase;
    width: 8rem;
  }

  .level {
    align-items: center;
    box-shadow: 0px 2px 4px 1px #9d9d9e;
    color: #fff;
    flex: 1;
    font-size: .8rem;
    font-style: italic;
    height: 1rem;
    line-height: .8rem;
    padding: .2rem;
  }

  .level-1 {
    @include gradToRight(94, 111, 204, .9);

    &:before {
      content: "5 / 5";
    }
  }

  .level-2 {
    @include gradToRight(94, 111, 204, 0.7);

    &:before {
      content: "4 / 5";
    }
  }

  .level-3 {
    @include gradToRight(94, 111, 204, 0.5);

    &:before {
      content: "3 / 5";
    }
  }

  .level-4 {
    @include gradToRight(94, 111, 204, 0.3);

    &:before {
      content: "2 / 5";
    }
  }

  .level-5 {
    @include gradToRight(94, 111, 204, 0.1);

    &:before {
      content: "1 / 5";
    }
  }
}

.resume {
  border-radius: 4px;
  margin: auto;
  max-width: 64rem;
  padding: 1rem;

  .group {
    background: rgba(170, 170, 170, 0.14);
    box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.78);
    margin: 1rem;
    padding: 1rem;
  }

  .bullet {
    p {
      margin: 1rem;
    }
  }


  .bullet-title {
    align-items: center;
    display: flex;

    .logo {
      align-items: center;
      background: #FFF;
      border-radius: 50px;
      display: flex;
      margin: .5rem;
      width: 2rem;
    }

    .date {
      font-style: italic;
      font-weight: bold;
      letter-spacing: 0.2px;

    }

    .position {
      letter-spacing: 0.2px;
      font-weight: bold;
    }

    .location {
      font-family: 'Anton', sans-serif;
      letter-spacing: 0.2px;
    }
  }
}

.social {
  border-radius: 4px;
  margin: auto;
  max-width: 64rem;
  padding: 1rem 0;

  .links {
    align-items: center;
    box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.58);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
  }

  a {
    @extend %unstyled-a;
    align-items: center;
    display: flex;
    filter: grayscale(100%);
    flex-direction: column;
    height: 5.5rem;
    justify-content: space-between;
    margin: 1rem;
    width: 4rem;

    &:hover, &:focus {
      .label {
        letter-spacing: 2.6px;
      }
    }
  }

  img {
    height: 4rem;
    width: 4rem;
  }

  .label {
    font-family: 'Anton', sans-serif;
    letter-spacing: .6px;
    text-transform: uppercase;
    transition: letter-spacing 150ms;
  }
}

.blog {
  border-radius: 4px;
  padding: 1rem;
  margin: auto;
  max-width: 64rem;

  a {
    @extend %unstyled-a;
    align-items: center;
    box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.28);
    display: flex;
    margin: 1rem;
    padding: 1rem;
    transition: box-shadow 150ms;

    &:hover, &:focus {
      box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.88);

      .post-title {
        letter-spacing: .4px;
      }
    }
  }

  .date {
    font-style: italic;
    letter-spacing: 0.2px;
  }

  .post-text {
    flex: 1;
    margin-left: 1rem;
  }

  .post-title {
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-bottom: 0.5rem;
    transition: letter-spacing 150ms;
  }
}