<div class="screen">
  <div class="screen-effect">
    <p>
      <span>System booting up...</span>
    </p>
    <p>
      <span>$></span>
      <span class="typeEffect type-effect" data-delay="4.5" data-speed="1.5">
        find -name "Guy Yogev" -exec cat {} \;
      </span>
    </p>
    <p class="screen-text">
      Hey there! I'm Guy :)
    </p>
    <p class="screen-text">
      I'm a full stack web developer.
      I love getting my hands dirty, at any level from devOps to UX/UI.
      Always curious about the the next big thing, but know that new doesn't necessarily mean better.
      Enjoy solving problems and designing programs architecture, while keeping 'hands on' the code.
    </p>
    <p class="screen-text">
      Personally, I believe that "meaning" & "fun" are a much more powerful motivators than "money" and "title".
      I like "down to earth" teammates, that share vision and purpose, and enjoy the creation process.
    </p>
  </div>
</div>

<div class="screen-base-wrapper">
  <div class="screen-base">
    <div class="screen-shadow"></div>
  </div>
  
  <div class="base-shadow"></div>
  
  <div class="keyboard-mouse">
    <div class="keyboard"></div>
    <div class="mouse"></div>
  </div>
</div>