<section class="resume" id="resume">
  <div class="sub-title">Resume</div>
  <div class="groups">

    <div class="group">
      <!-- Waze -->
      <div class="bullet">
        <div class="bullet-title">
          <div class="logo">
            <img data-src="/assets/images/waze.svg"/>
          </div>
          <div>
            <span class="date">2020 - Today: </span>
            <span class="position">Front End Developer</span>
            <span class="location">@Google TLV</span>
            <span>(Vendor by Spectory)</span>
          </div>
        </div>
        <p>
          A vendor team member at Waze.
        </p>
        <p>
          Tech design & development of tools for <a href="https://www.waze.com/partners">Waze Partners</a>.
        </p>
      </div>

      <!-- Trends -->
      <div class="bullet">
        <div class="bullet-title">
          <div class="logo">
            <img data-src="https://cdn1.iconfinder.com/data/icons/company-identity/100/new-google-favicon-128.png"/>
          </div>
          <div>
            <span class="date">2017 - 2020: </span>
            <span class="position">Front End Developer</span>
            <span class="location">@Google TLV</span>
            <span>(Vendor by Spectory)</span>
          </div>
        </div>
        <p>
          A vendor team member at Google Trends team.
        </p>
        <p>
          Develop and maintain the front end of <a href="https://trends.google.com" target="blank">Google Trends</a>,
          Trends events (such as <a href="https://trends.google.com/yis/2017" target="blank">Year In Search</a>),
          and a number of internal tools used by
          <a href="https://newsinitiative.withgoogle.com/" target="blank">Google News Initiative</a>.
        </p>
      </div>

      <!-- Spectory -->
      <div class="bullet">
        <div class="bullet-title">
          <div class="logo">
            <img data-src="/assets/images/spectory_logo.png"/>
          </div>
          <div>
            <span class="date">2014 - 17: </span>
            <span class="position">Fullstack Web Developer</span>
            <span class="location">@Spectory</span>
          </div>
        </div>
        <p>
          <a href="https://www.spectory.com/" target="blank">Spectory</a>
          provides professional software development solutions to startups and
          organizations worldwide.
        </p>
        <p>
          As a junior, and later on as a senior developer, my role included all
          aspects of software development such as design, development, profiling
          and maintenance.
        </p>
        <p>
          In addition to the regular development tasks, I also led the company
          'On Boarding' program, which is a 4 weeks training for junior web
          developers, jump-starting their career.
        </p>
        <p>
          I played major part at the company DevOps, which included designing
          and implementing our very own SpecCI. SpecCI Docker based Continuous
          Integration/Deployment tool, that allows us to tailor suite automation
          project code merges, tests, and finally deploy on green to any
          environment.
        </p>
      </div>
    </div>
    <div class="group">
      <div class="bullet">
        <div class="bullet-title">
          <div class="logo ">
            <img data-src="/assets/images/bgu-logo.png"/>
          </div>
          <div>
            <span class="date">2010 - 14: </span>
            <span class="position">B.Sc Computer science & Linguistics</span>
            <span class="location">@Ben Gurion University</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
