<section class="skills anchor-offset" id="skills">
  <div class="sub-title">Skill Set</div>
  <div class="groups">
    <div class="group">
      <div class="skills-img">
        <img data-src="/assets/images/skills.gif" />
      </div>
      <p class="skill-list">
        Over the years, I had the opportunity to participate & tech lead dozens
        of projects, ranging from small startups to huge enterprises such as
        Google & Waze.
      </p>
      <p class="skill-list">
        As such, I am familiar with many development stacks, project & product
        management methodologies. I found that while those factors widely
        differ, the core principles for a healthy codebase/team/product are
        common to all.
      </p>
      <p class="skill-list">
        I believe one of my main strengths is the ability to choose the right
        tools for given project requirements, and guide the team to create
        robust, high-quality, production-ready software.
      </p>
    </div>
  </div>
  <div style="display: none">
    <a href="https://storyset.com/work">Work illustrations by Storyset</a>
  </div>
</section>
