---
---
@import "animations";
@import "extends";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  text-transform: uppercase;
  background: rgba(255, 255, 255, .56);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 2.6rem;
  align-items: center;
  padding: 0 1rem;

  a {
    @extend %unstyled-a;
    transition: all 150ms;
    padding: 0 1rem;
    cursor: pointer;
  }

  a:hover {
    border-top: 1px solid black;
    padding: 0.2rem 1rem 0 1rem;
    letter-spacing: 0.1rem;
  }
}

.about {
  height: 75vh;
  position: relative;

  .about-bg {
    background-image: url("https://i.blogs.es/3818bd/programacion/450_1000.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(80%) blur(5px);

  }
  .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.26rem;
    font-size: 4rem;
    padding: 0 1rem;
    font-family: 'Anton', sans-serif;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
}

.skills {
  height: 75vh;
  padding: 1rem;

  .sub-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.6px;
    padding: .5rem;
  }

  .groups {
    display: flex;
  }

  .group {
    flex: 1;
  }

  .skill {
    display: flex;
    align-items: center;
  }

  .skill-name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: .5rem;
    width: 8rem;
  }

  .level {
    flex: 1;
    height: 1rem;
    box-shadow: 0px 2px 4px 1px #9d9d9e;
  }

  .level-1 {
    @include gradToRight(94, 111, 204, .9);
  }

  .level-2 {
    @include gradToRight(94, 111, 204, 0.7);
  }

  .level-3 {
    @include gradToRight(94, 111, 204, 0.5);
  }

  .level-4 {
    @include gradToRight(94, 111, 204, 0.3);
  }

  .level-5 {
    @include gradToRight(94, 111, 204, 0.1);
  }
}

.resume {
  background: green;
  height: 75vh;
}

.blog {
  background: yellow;
  height: 75vh;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.44);
  color: #fff;
  height: 1.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}