---
---
@import "animations";
@import "mixins";

@media (max-width: 768px) {
  html { font-size: 14px; }
}

.bg-img {
  @include coverImage("{{ site.url }}/assets/images/tlv.jpg");
  @extend %fadeIn;
  animation-duration: $ANIMATION_STEP_1;
  filter: blur(3px) sepia(0.15);
  height: 100%; 
  transform: translate3d(0,0,0);
}

.home {
  @extend %background-box;
  @extend %fadeIn;
  animation-duration: $ANIMATION_STEP_1;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: auto;
  max-width: 65rem;
  overflow: auto;
  padding: .5rem;
  position: fixed;
  right: 0;
  top: 0;
  
  .screen-wrapper {
    @extend %fadeIn;
    // @extend %background-box;
    animation-delay: .3s;
    animation-duration: .3s;
    color: #111;
    margin: .5rem auto;
    
    @media (max-width: 1064px) {
      background: transparent;
      box-shadow: none;
      max-width: 100%;

      .screen {
        max-width: 90vw;
        max-height: 50vw;
      }

      .screen-effect {
        max-height: 50vw;
        overflow: auto;
      }
    }

    .screen {
      background: rgba(0, 0, 0, .81);
      border: .5rem solid #474e5d;
      border-bottom-width: 1rem;
      border-radius: .5rem;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      color: greenyellow;
      height: 22.5rem;
      margin: 1rem 1rem 0 1rem;
      width: 40rem;

      @media (max-width: 1064px) {
        .screen {
          max-width: 90vw;
          max-height: 50vw;
        }
      }

      .screen-effect {
        @extend %turnOn;
        animation-delay: .5s;
        height: 22.5rem;
        opacity:0;
        
        @media (max-width: 1064px) {
          max-height: 50vw;
          overflow: auto;
        }

        p {
          font-size: 1.3rem;
          line-height: 1.6rem;
          margin:0;
          padding: .25rem .5rem;
          
          @media (max-width: 767px) {
            font-size: 1rem;
            line-height: normal;
          }
        }
      }

      .screen-text {
        @extend %fadeIn;
        animation-delay: 6s;
        animation-direction: .1;
      }
    }

    @media (max-width: 1064px) {
      .screen-base-wrapper {
          display: none;
        }
      .screen {
        margin: .5rem auto;
      }
    }

    .screen-base {
      border-bottom: 4rem solid rgb(97, 96, 96);
      border-left: 3rem solid transparent;
      border-right: 3rem solid transparent;
      height: 0;
      width: 6rem;
      margin: 0 auto;
      
      .screen-shadow {
        box-shadow: inset 0 .4rem .4rem -.4rem;
        height: 1rem;
        width: 6rem;
      }
    }
    
    .base-shadow {
      border-radius: 50%;
      box-shadow: 0 .5rem .5rem -6px rgba(0, 0, 0, .55);
      height: 1rem;
      margin: auto;
      position: relative;
      top: calc(-1rem + -1px);
      width: 26rem;
    }

    .keyboard-mouse {
      align-items: center;
      display: flex;
      margin: auto;
      position: relative;
      top: -1rem;
      width: 26rem;
    }

    .keyboard {
      border-bottom: 3rem solid #494949;
      border-left: 2rem solid transparent;
      border-radius: 2rem;
      border-right: 2rem solid transparent;
      height: 0;
      margin-left: 3rem;
      width: 18rem;
    }

    .mouse {
      background: radial-gradient(#474e5d, #616060, #474e5d);
      border-radius: 1.2rem;
      height: 5rem;
      margin: auto;
      transform: rotate3d(3, 1, -1, 60deg);
      width: 2.6rem;
    }
  }

  .bottom-page-wrapper {
    @extend %fadeIn;
    animation-delay: 6.5s;
    animation-duration: .5s;
    display: flex;
    min-height: 16rem;

    @media (max-width: 660px) {
      display: initial;
    }
  }
  
  .my-stack {
    @extend %scaleY;
    // @extend %background-box;
    animation-delay: 6.2s;
    animation-duration: .8s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 22rem;
    max-height: 18rem;
    padding-right: .5rem;

    @media (max-width: 1064px) {
      max-width: 90vw;
    }

    @media (max-width: 660px) {
      max-width: 18rem;
      margin: auto;
    }
  
    .stack-subject {
      align-items: center;
      display: flex;
      width: fit-content;
    }
  
    .stack-subject-img {
      height: 3rem;
      margin: .5rem;
      width: 3rem;

      @media (max-width: 1064px) {
        height: 2rem;
        width: 2rem;
      }
    }
  
    .subject-icon {
      @extend %hover-button;
      animation-duration: .5s;
      background-color: rgba(213, 189, 177, .41);
      border-radius: .5rem;
      margin: .5rem;

      @media (max-width: 1064px) {
        max-height: 2rem;
        max-width: 2rem;
      }
    }
  
    .subject-chips {
      @extend %expandX;
      align-items: center;
      animation-delay: 6.8s;
      animation-duration: .5s;
      background: linear-gradient(to right, rgba(147, 90, 146, 0), rgba(18, 42, 110, .3));
      border-radius: 1rem;
      box-shadow: 3px 1px 4px 0 rgba(0, 0, 0, .12);
      display: flex;
      overflow: hidden;
    }
  
    .subject-icon {
      @extend %fadeIn;
      animation-duration: .6s;
    }
  }

  .blog {
    // @extend %background-box;
    @extend %fadeIn;
    animation-delay: 7.1s;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    a {
      @extend %hover-button;
      align-items: center;
      background: rgba(255, 255, 255, 0.45);
      border-radius: 0.5rem;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      color: initial;
      display: flex;
      margin: .5rem;
      padding: 0.5rem;
      text-decoration: none;
    }

    .date {
      font-style: italic;
      line-height: 1.5rem;
      margin: 0 0.5rem;
      text-align: center;
      min-width: 3rem;
    }

    .post-text {
      width: calc(100% - 4rem);
    }

    .post-title {
      @extend %ellipsis;
      font-weight: bolder;
    }

    .post-subtitle {
      @extend %ellipsis;
    }
  }
}

