---
---
@import "animations";
@import "extends";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  text-transform: uppercase;
  background: rgba(255, 255, 255, .56);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 2.6rem;
  align-items: center;
  padding: 0 1rem;

  a {
    @extend %unstyled-a;
    transition: all 150ms;
    padding: 0 1rem;
    cursor: pointer;
  }

  a:hover {
    border-top: 1px solid black;
    padding: 0.2rem 1rem 0 1rem;
    letter-spacing: 0.1rem;
  }
}

.sub-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  padding: .5rem;
}

.about {
  height: 75vh;
  position: relative;

  .about-bg {
    @include coverImage("http://uchilegko.info/images/downloaded/1520672316_programmnyy-kod.jpg");
    height: 100%;
    width: 100%;
    filter: grayscale(60%) blur(5px);

  }
  .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.26rem;
    font-size: 4rem;
    padding: 0 1rem;
    font-family: 'Anton', sans-serif;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
}

.skills {
  padding: 1rem;
  max-width: 64rem;
  margin: auto;

  .groups {
    display: flex;
    flex-wrap: wrap;
  }

  .group {
    flex: 1;
    box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.38);
    padding: 1rem;
    margin: 1rem;
  }

  .skill {
    display: flex;
    align-items: center;
  }

  .skill-name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: .5rem;
    width: 8rem;
  }

  .level {
    flex: 1;
    height: 1rem;
    box-shadow: 0px 2px 4px 1px #9d9d9e;
    padding: .2rem;
    font-style: italic;
    color: #fff;
    line-height: .8rem;
    font-size: .8rem;
    align-items: center
  }

  .level-1 {
    @include gradToRight(94, 111, 204, .9);

    &:before {
      content: "5 / 5";
    }
  }

  .level-2 {
    @include gradToRight(94, 111, 204, 0.7);

    &:before {
      content: "4 / 5";
    }
  }

  .level-3 {
    @include gradToRight(94, 111, 204, 0.5);

    &:before {
      content: "3 / 5";
    }
  }

  .level-4 {
    @include gradToRight(94, 111, 204, 0.3);

    &:before {
      content: "2 / 5";
    }
  }

  .level-5 {
    @include gradToRight(94, 111, 204, 0.1);

    &:before {
      content: "1 / 5";
    }
  }
}

.resume {
  border-radius: 4px;
  background: rgba(170, 170, 170, 0.28);
  padding: 1rem;
  max-width: 64rem;
  margin: auto;

  .groups {

  }

  .group {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.78);
  }

  .bullet {
    p {
      margin: 1rem;
    }
  }


  .bullet-title {
    display: flex;
    align-items: center;

    .logo {
      background: #FFF;
      width: 2rem;
      height: 2rem;
      border-radius: 50px;
      padding: 1rem;
      margin: .5rem;
    }

    .spectory {
      @include coverImage("https://www.spectory.com/favicon.png");
    }

    .google {
      @include coverImage("https://cdn1.iconfinder.com/data/icons/company-identity/100/new-google-favicon-128.png");
    }

    .bgu {
      @include coverImage("https://pbs.twimg.com/profile_images/509304330667585536/uDo6qU3J_400x400.png");
    }

    .date {
      font-weight: bold;
      font-style: italic;
      letter-spacing: 0.2px;

    }

    .position {
      font-weight: bold;
      letter-spacing: 0.2px;
    }

    .location {
      letter-spacing: 0.2px;
      font-family: 'Anton', sans-serif;
    }
  }
}

.blog {
  background: yellow;
  height: 75vh;
}

.social {
  border-radius: 4px;
  padding: 1rem 0;
  max-width: 64rem;
  margin: auto;

  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 2px 4px 1px rgba(170, 170, 170, 0.58);
    padding: 1rem;
  }

  a {
    @extend %unstyled-a;
    width: 4rem;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    filter: grayscale(100%);
  }

  img {
    width: 4rem;
    height: 4rem;
  }

  .label {
    font-family: 'Anton', sans-serif;
    letter-spacing: .6px;
    text-transform: uppercase;
  }
}