@import "mixins";

$GRAY_35: rgba(255, 255, 255, .35);

%background-box {
  background: $GRAY_35;
  border-radius: .5rem;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: .5rem;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%hover-button {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

%site-bg {
  @include coverImage("/assets/images/tlv.jpg");
  filter: blur(3px) sepia(0.15);
  height: 100%;
  transform: translate3d(0,0,0);
}

%unstyled-a {
  text-decoration: none;
  color: inherit;
  outline: 0;

  &:hover, &:visited, &:focus, &:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
}