<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <!-- Styles -->
  {% include global_styles.html %}
  {% for f in page.css_files %}
    {% capture path %}/assets/css/{{ f }}.css{% endcapture %}
    <link rel="stylesheet" href={{ path | absolute_url }}>
  {% endfor %}  

  <body>
    {{ content }}
  </body>

  <!-- JS -->
  {% for f in page.js_files %}
    {% capture path %}/assets/js/{{ f }}.js{% endcapture %}
    <script src={{ path | absolute_url }}></script>
  {% endfor %}

</html>
